# # Server
# PORT=5000
# NODE_ENV=development

# # MongoDB
# MONGO_URI=mongodb://localhost:27017/portfolio_cms

# # JWT
# JWT_SECRET=your_super_secret_jwt_key_change_this_in_production_minimum_32_chars
# JWT_EXPIRES_IN=7d

# # Cookie
# COOKIE_SECRET=your_cookie_secret_change_this_in_production

# # CORS
# CORS_ORIGIN=http://localhost:3000

# # Admin Seed Credentials
# ADMIN_EMAIL=admin@mail.com
# ADMIN_PASSWORD=password123

# # Upload
# UPLOAD_DIR=uploads
# MAX_FILE_SIZE=5242880

# Server
PORT=5000
NODE_ENV=development

# MongoDB
# MONGO_URI=mongodb+srv://jaber:9w5G3p6FINlzUyCy@cluster0.zwjr9aa.mongodb.net/Portfolio_DB
MONGO_URI=mongodb://jaber:9w5G3p6FINlzUyCy@ac-z34rv2b-shard-00-00.zwjr9aa.mongodb.net:27017,ac-z34rv2b-shard-00-01.zwjr9aa.mongodb.net:27017,ac-z34rv2b-shard-00-02.zwjr9aa.mongodb.net:27017/Portfolio_DB?ssl=true&replicaSet=atlas-putc0n-shard-0&authSource=admin&appName=Cluster0

# MONGO_URI=mongodb+srv://Main_Admin:umiGytrfX6KKT9cJ@cluster0.4ayta.mongodb.net/Portfolio_DB

# MONGO_URI=mongodb://cluster0-shard-00-00.4ayta.mongodb.net:27017,cluster0-shard-00-01.4ayta.mongodb.net:27017,cluster0-shard-00-02.4ayta.mongodb.net:27017/Portfolio_DB?replicaSet=atlas-xxxxx&ssl=true&authSource=admin

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production_minimum_32_chars
JWT_EXPIRES_IN=7d

# Cookie
COOKIE_SECRET=your_cookie_secret_change_this_in_production

# CORS
CORS_ORIGIN=http://localhost:5173,https://jaberriyan.com

# Admin Seed Credentials
ADMIN_EMAIL=jaberriyan357@gmail.com
ADMIN_PASSWORD=1qazxsw2

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

